* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.logo {
  color: #38bdf8;
}

/* Sections */
.section {
  padding: 100px 50px;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 span {
  color: #38bdf8;
}

/* Skills */
.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #1e293b;
  border-radius: 20px;
}

/* Projects */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}
